* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  background-image: url(../imag2/town.jpg);
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  color: snow;
  font-weight: bolder;
  border: 2px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 25px;
  text-align: center;
}
a {
  text-decoration: none;
  text-align: center;
  padding: 5px 20px;
  background-color: #f4f4f4;
}
a:hover,
a:active {
  background-color: seagreen;
  color: blue;
}
